<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Cellphone" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cellphone
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Cellphone">
                <a href="{% url 'products' %}?category=Iphone" class="dropdown-item">Iphone</a>
                <a href="{% url 'products' %}?category=Samsung" class="dropdown-item">Samsung</a>
                <a href="{% url 'products' %}?category=MI" class="dropdown-item">MI</a>
                <a href="{% url 'products' %}?category=Iphone,Samsung,MI" class="dropdown-item">All Cellphone</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Accessories-link">
                <a href="{% url 'products' %}?category=Glass" class="dropdown-item">Glass</a>
                <a href="{% url 'products' %}?category=Cover" class="dropdown-item">Cover</a>
                <a href="{% url 'products' %}?category=Cable" class="dropdown-item">Cable</a>
                <a href="{% url 'products' %}?category=Charger" class="dropdown-item">Charger</a>
                <a href="{% url 'products' %}?category=Holder" class="dropdown-item">Holder</a>
                <a href="{% url 'products' %}?category=Glass,Cover,Cable,Charger,Holder" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=New_Arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=Deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=Clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=New_Arrivals,Deals,Clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>